# SPDX-License-Identifier: LGPL-2.1-or-later

[Unit]
ConditionFirstBoot=yes
ConditionPathIsReadWrite=/etc

DefaultDependencies=no

Before=basic.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=sed -i '/gnome.initial-setup=1/d' /sysroot/boot/loader/entries/bootc-composefs-1.conf

[Install]
WantedBy=basic.target
